<html>
    <head>
        <title>网盘系统</title>
    </head>
    <body>
        <form action="/login/" method="POST">
            {% csrf_token %} 
            用户名<input type="text" name="username"/>
            <br/>
            密码&emsp;<input type="password" name="password"/>
            <br/>
            验证码<input type="text" name="vcode"/>
            <br/><img  src="/captcha"/>
            <br/>
            &emsp;&emsp;&emsp;<button type="submit" >登录</button>
        </form>
    </body>
</html>